.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  border: 1px solid red;
  font-size: 30px;
  font-family: Baskerville;
  color: rgb(57, 44, 51);
  font-weight: lighter;
}

.footer {
  border: 1px solid red;
  font-family: Baskerville;
  font-weight: lighter;
}

.main {
  text-align: left;
  border: 1px solid red;
  font-family: Baskerville;
  font-weight: lighter;
}

.aside-1 {
  border: 1px solid red;
  font-family: Baskerville;
  font-weight: lighter;
}

.aside-2 {
  border: 1px solid red;
  font-family: Baskerville;
  font-weight: lighter;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 {
    flex: 2 0px;
    order: 1;
  }
  .main    { order: 3; }
  .aside-2 { order: 2; }
  .footer  { order: 4; }
}

body {
  /* padding: 2em; */
}




Resources
